body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Overlay */
.modal-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #ECFFDC;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Card */
.signin-card {
    background: white;
    width: 100%;
    max-width: 420px;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
    position: relative;

    opacity: 0;
    transform: translateY(30px);
    transition: all 0.8s ease;
}

.signin-card.reveal {
    opacity: 1;
    transform: translateY(0);
}

/* Logo */
.logo-brand {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-decoration: none;
    margin-bottom: 20px;
}

.logo-icon {
    width: 32px;
    height: 32px;
    /* border-radius: 10px; */
    /* background: linear-gradient(135deg, #50C878, #2e7d32); */
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-icon img {
    width: 32px;
    height: 32px;
}

.brand-name {
    font-size: 22px;
    font-weight: bold;
    color: #2e7d32;
}

/* Text */
.signin-title {
    font-size: 28px;
    font-weight: bold;
}

.account-prompt {
    margin: 10px 0 30px;
}

.account-prompt a {
    color: #50C878;
}

/* Inputs */
.input-container {
    margin-bottom: 15px;
}

.input-container input {
<<<<<<< HEAD
    width: 92%;
=======
    width: 100%;
>>>>>>> de9ae684eb6a90327231c7ab537abdc9c9297107
    padding: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.input-container input:focus {
    outline: none;
    border-color: #50C878;
    box-shadow: 0 0 0 2px rgba(80,200,120,0.2);
}

/* Button */
.btn-primary {
    width: 100%;
    background: #50C878;
    color: white;
    border: none;
    padding: 14px;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
}

.btn-primary:hover {
    background: #45b56d;
}

/* Message */
#msg {
    margin-top: 10px;
    font-size: 14px;
}